name: CI

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

env:
  CI_CHUNK_SIZE: 65

jobs:
  build:
    name: Force Build Google Drive
    runs-on: 'ubuntu-24.04'
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      # 1. Generate Dummy Keystore (ताकि साइनिंग एरर न आए)
      - name: Generate Debug Keystore
        run: |
          keytool -genkey -v -keystore signingkey.jks -storepass 123456 -alias dummy -keypass 123456 -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Debug,O=Debug,C=US"

      # 2. Force Build ONLY Google Drive
      - name: Build Google Drive Extension
        env:
          ALIAS: dummy
          KEY_STORE_PASSWORD: 123456
          KEY_PASSWORD: 123456
        run: |
          ./gradlew :src:all:googledrive:assembleRelease

      # 3. Upload the APK
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: "google-drive-extension"
          path: "**/*.apk"
          retention-days: 1

      - name: Clean up
        run: rm signingkey.jks
